.header {
    position: fixed; /* Ensure the header stays fixed at the top of the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Set a fixed height for the header */
    background-color: #333;
    z-index: 1000; /* Adjust z-index as needed */
    overflow: hidden; /* Ensure no overflow behavior */
  }

.header__container{
    align-items: center;
    text-align: center;
    height: 100%;
    position: fixed;
}

.text_container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text horizontally */
  }

.cta{

    margin-top: 2rem;  /*to push buttons littlebit down*/
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    position: relative;
}

.bubble {
    position: absolute;
    background-color: rgba(255, 255, 255, .0); /* White background with 80% opacity */
    border: 0px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
    z-index: 1000;
}

.bubble a {
    display: block;
    margin-bottom: 5px;
}


/* Applying CSS for HeaderSocials */

.header__socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    position: relative;
}

.social_icons{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    left: 3rem;
    bottom: 3rem;
    font-size: 1.2rem;
    padding: 1rem;
}

.other_pages{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    position: relative;
    left: 3rem;
    bottom: 3rem;
    font-size: 1.2rem;
    padding: 1rem;
}

.header__socials::after{

    content: "";
    width: 1px;
    height: 2rem;
}

/* Applying CSS for My image */

.me {
    background-image: url("../../assets/my-image2.jpg");
    justify-content: center; /* Center content horizontally */
    width: 18rem;
    height: 18rem; /* Set height equal to width to make it a perfect circle */
    position: relative;
    left: calc(50% - 9rem);
    border-radius: 50%; /* Make it a circle */
    overflow: hidden;
    padding: 0rem 0rem 0rem 0rem;
}

/* Media queries for medium devices(Tablets) */

@media screen and (max-width: 1024px) {

    header{

        height: 60vh;
    }

}

/* Media queries for small devices(Mobiles) */

@media screen and (max-width: 600px) {

    header{

        height: 100vh;
    }

    .header__socials, .scroll__down{

        display: none;
    }

    .me > img{

        margin-top: 2.5rem;
    }
}
